<section class="section-base covers" id="covers">
  <h2 class="visually-hidden">Portfolio my project</h2>
  
      
      <div class="covers-container">
    
        <ul class="covers-list">
    
    
          <li class="covers-item">
           
              <picture class="covers-picture" style="--position: 1">
                <source srcset="../images/covers/chego.webp 1x, ../images/covers/chego@2x.webp 2x">
                <img src="../images/covers/covers-jpeg/chego.jpg" alt="website banner about beauty with a girl's face">
              </picture>
          
    
            
              <picture class="covers-picture" style="--position: 2">
                <source srcset="../images/covers/energi-flow.webp 1x, ../images/covers/energi-flow@2x.webp 2x">
                <img src="../images/covers/covers-jpeg/energy-flow.jpg" alt="банер сайта про спорт с спортивной фигурой девушки">
              </picture>
           
    
           
              <picture class="covers-picture" style="--position: 3">
                <source srcset="../images/covers/english-excelence.webp 1x, ../images/covers/english-excelence@2x.webp 2x">
                <img src="../images/covers/covers-jpeg/english.jpg" alt="
                home page of an English learning website with a girl in headphones">
              </picture>
        
    
              <picture class="covers-picture" style="--position: 4">
                <source srcset="../images/covers/fruit-box.webp 1x, ../images/covers/fruit-box@2x.webp 2x">
                <img src="../images/covers/covers-jpeg/fruit-box.jpg" alt="
                website banner with oranges">
              </picture>
           
            
    
              <picture class="covers-picture" style="--position: 5">
                <source srcset="../images/covers/green-harvest.webp 1x, ../images/covers/green-harvest@2x.webp 2x">
                <img src="../images/covers/covers-jpeg/green-harvest.jpg" alt="website banner with vegetables">
              </picture>
           
    
          </li>
    
          <li class="covers-item">
       
              <picture class="covers-picture auto-run" style="--position: 1">
                <source srcset="../images/covers/mimino.webp 1x, ../images/covers/mimino@2x.webp 2x">
                <img src="../images/covers/covers-jpeg/mimino.jpg" alt="hotel website banner with house">
              </picture>
          
    
        
              <picture class="covers-picture" style="--position: 2">
                <source srcset="../images/covers/power-pulse.webp 1x, ../images/covers/power-pulse@2x.webp 2x">
                <img src="../images/covers/covers-jpeg/power-pulse.jpg" alt="sports website banner with a girl in sportswear">
              </picture>
           
    
        
              <picture class="covers-picture" style="--position: 3">
                <source srcset="../images/covers/starlinght-studio.webp 1x, ../images/covers/starlinght-studio@2x.webp 2x">
                <img src="../images/covers/covers-jpeg/starlinght.jpg" alt="
                business website banner with white letters">
              </picture>
           
    
         
              <picture class="covers-picture" style="--position: 4">
                <source srcset="../images/covers/ukrainian.webp 1x, ../images/covers/ukrainian@2x.webp 2x">
                <img src="../images/covers/covers-jpeg/ukrainian.jpg" alt="website banner with a girl in Ukrainian clothes">
              </picture>
        
    
    
              <picture class="covers-picture" style="--position: 5">
                <source srcset="../images/covers/wallet.webp 1x, ../images/covers/wallet@2x.webp 2x">
                <img src="../images/covers/covers-jpeg/wallet.jpg" alt="
                website banner with a girl who smiles and a guy who holds a bank card near a laptop">
              </picture>
           
            
          </li>
    
          <li class="covers-item">
            
            <picture class="covers-picture" style="--position: 1">
              <source srcset="../images/covers/english-excelence.webp 1x, ../images/covers/english-excelence@2x.webp 2x">
              <img src="../images/covers/covers-jpeg/english.jpg" alt="
              home page of an English learning website with a girl in headphones">
            </picture>
         
    
            
            <picture class="covers-picture" style="--position: 2">
              <source srcset="../images/covers/wallet.webp 1x, ../images/covers/wallet@2x.webp 2x">
              <img src="../images/covers/covers-jpeg/wallet.jpg" alt="
              website banner with a girl who smiles and a guy who holds a bank card near a laptop">
            </picture>
        

            <picture class="covers-picture" style="--position: 3">
              <source srcset="../images/covers/chego.webp 1x, ../images/covers/chego@2x.webp 2x">
              <img src="../images/covers/covers-jpeg/chego.jpg" alt="website banner about beauty with a girl's face">
            </picture>
            

            <picture class="covers-picture" style="--position: 4">
              <source srcset="../images/covers/power-pulse.webp 1x, ../images/covers/power-pulse@2x.webp 2x">
              <img src="../images/covers/covers-jpeg/power-pulse.jpg" alt="sports website banner with a girl in sportswear">
            </picture>
         
        

            <picture class="covers-picture" style="--position: 5">
              <source srcset="../images/covers/energi-flow.webp 1x, ../images/covers/energi-flow@2x.webp 2x">
              <img src="../images/covers/covers-jpeg/energy-flow.jpg" alt="банер сайта про спорт с спортивной фигурой девушки">
            </picture>
 
          </li>
    
          <li class="covers-item">
    
    
            <picture class="covers-picture" style="--position: 1">
              <source srcset="../images/covers/fruit-box.webp 1x, ../images/covers/fruit-box@2x.webp 2x">
              <img src="../images/covers/covers-jpeg/fruit-box.jpg" alt="
              website banner with oranges">
            </picture>
    
          
            <picture class="covers-picture"  style="--position: 2">
              <source srcset="../images/covers/mimino.webp 1x, ../images/covers/mimino@2x.webp 2x">
              <img src="../images/covers/covers-jpeg/mimino.jpg" alt="hotel website banner with house">
            </picture>
           
    
         
            <picture class="covers-picture" style="--position: 3">
              <source srcset="../images/covers/green-harvest.webp 1x, ../images/covers/green-harvest@2x.webp 2x">
              <img src="../images/covers/covers-jpeg/green-harvest.jpg" alt="website banner with vegetables">
            </picture>
        
    
    
            <picture class="covers-picture" style="--position: 4">
              <source srcset="../images/covers/ukrainian.webp 1x, ../images/covers/ukrainian@2x.webp 2x">
              <img src="../images/covers/covers-jpeg/ukrainian.jpg" alt="website banner with a girl in Ukrainian clothes">
            </picture>
            
    
            <picture class="covers-picture" style="--position: 5">
              <source srcset="../images/covers/power-pulse.webp 1x, ../images/covers/power-pulse@2x.webp 2x">
              <img src="../images/covers/covers-jpeg/power-pulse.jpg" alt="sports website banner with a girl in sportswear">
            </picture>
         
            
          </li>
    
        </ul>
      </div>
  
</section>