<section class="swiper-about">
  <div class="swiper-about__container swiper"> 
    <ul class="swiper-about_list swiper-wrapper">
      <li class="swiper-about-item swiper-slide swiper-content-wrap"><p class="swioe-text">HTML/CSS</p></li>
      <li class="swiper-about-item swiper-slide swiper-content-wrap"><p class="swioe-text">JavaScript</p></li>
      <li class="swiper-about-item swiper-slide swiper-content-wrap"><p class="swioe-text">React</p></li>
      <li class="swiper-about-item swiper-slide swiper-content-wrap"><p class="swioe-text">Node. js</p></li>
      <li class="swiper-about-item swiper-slide swiper-content-wrap"><p class="swioe-text">React Native</p></li>
      <li class="swiper-about-item swiper-slide swiper-content-wrap"><p class="swioe-text">Soft skills</p></li>
    </ul>
    <button class="swiper-button-next" type="button">next</button>
  </div>
</section>



      <!-- <div class="swiper-wrapper">

        <div class="swiper-slide">HTML/CSS</div>
        <div class="swiper-slide">JavaScript</div>
        <div class="swiper-slide">React</div>
        <div class="swiper-slide">Node. js</div>
        <div class="swiper-slide">React Native</div>
        <div class="swiper-slide">Soft skills</div>
      </div>
  
      <div class="swiper-pagination"></div>
    

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
  </div>
  <swiper-container navigation="true"  slides-per-view="3" mousewheel-force-to-axis="true">
    <swiper-slide>HTML/CSS</swiper-slide>
    <swiper-slide>JavaScript</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
    <swiper-slide>Node. js</swiper-slide>
    <swiper-slide>React Native</swiper-slide>
    <swiper-slide>Soft skills</swiper-slide>
    
  </swiper-container>
  <div class="swiper-button-next">R</div>
        <div class="swiper-button-prev">L</div>  -->
