<div class="about-me-swiper-container">
  <div class="about-me-skills swiper my-thumbs">
    <ul class="swiper-list swiper-wrapper">
      <li class="swiper-slide swiper-content-wrap">
        <p class="swipe-text">HTML</p>
      </li>
      <li class="swiper-slide swiper-content-wrap">
        <p class="swipe-text">CSS</p>
      </li>
      <li class="swiper-slide swiper-content-wrap">
        <p class="swipe-text">JavaScript</p>
      </li>
      <li class="swiper-slide swiper-content-wrap">
        <p class="swipe-text">React</p>
      </li>
      <li class="swiper-slide swiper-content-wrap">
        <p class="swipe-text">Node.js</p>
      </li>
      <li class="swiper-slide swiper-content-wrap">
        <p class="swipe-text">React Native</p>
      </li>
      <li class="swiper-slide swiper-content-wrap">
        <p class="swipe-text">Soft skills</p>
      </li>
    </ul>
  </div>
  <button class="swiper-arrow swiper-next" type="button">
<span class="swiper-arrow-svn">button</span>

  </button>
</div>



