<section class="avatar">
  <div class="avatar-container">
    <h2 class="avatar-title">Avatar</h2>
    <p>avatar.box>.avatar-left+.avatar-right>.avatar-content</p>
    <p>
      .avatar-left, <br />
      .avatar-right {<br />
      width: 100%; <br />
      height: 100%; <br />
      border: 1px solid #c2bebe; <br />
      background-image: url(../img/avatar/romanenkoyuliia.png); <br />
      block-size: 100%; <br />
      background-repeat: no-repeat; <br />
      background-position: center; <br />
      }
    </p>

    <div class="avatar-box">
      <div class="avatar-left"></div>
      <div class="avatar-right">
        <div class="avatar-content">
          clip-path: polygon(0 0, 60% 0, 65% 100%, 0 100%); background-image:
          url(../img/xxx.png); background-size: 100%
        </div>
      </div>
    </div>
    <p>
      .avatar-left { <br />
      clip-path: polygon(0 0, 60% 0, 60% 100%, 0 100%); <br />
      }
    </p>
    <p>
      .avatar-right .avatar-content { <br />
      width: 40%; <br />
      }
    </p>
    <p>
      .avatar-right { <br />
      display: flex; <br />
      justify-content: right; <br />
      align-items:center; <br />
      font-weight: 900; <br />
      font-size: 40px; <br />
      line-height: 37px; <br />
      text-transform:uppercase; <br />
      -webkit-background-clip: text; <br />
      color:transparent; } <br />
    </p>
    <p>.avatar-left, .avatar-right { position: absolute; left: 0; }</p>
    <div class="linkedin">
      <div class="avatar-box">
        <div class="avatar-left"></div>
        <div class="avatar-right">
          <div class="avatar-content">css html js react jsx</div>
        </div>
      </div>
      <div class="linkedin-accent"></div>
      <!-- <div class="linkedin-accent little"></div> -->
      <div class="linkedin-box">
        <div class="linkedin-right"></div>
        <div class="linkedin-left">
          <p class="linkedin-text">
            cdnjs <br />
            clsx <br />
            vercel <br />
            axios <br />
            day.js <br />date-fns <br />izitoast <br />
            flatpickr <br />basiclightbox jsonplaceholder <br />
            lodash <br />
            gsap
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
