<section class="covers">
  <h2>Portfolio my project</h2>
  <div class="covers-container">

    <ul class="covers-list">


      <li class="covers-item">
       
          <picture class="covers-picture" style="--position: 1">
            <source srcset="">
            <img src="" alt="picture">
          </picture>
      

        
          <picture class="covers-picture" style="--position: 2">
            <source srcset="">
            <img src="" alt="picture">
          </picture>
       

       
          <picture class="covers-picture" style="--position: 3">
            <source srcset="">
            <img src="" alt="picture">
          </picture>
    

          <picture class="covers-picture" style="--position: 4">
            <source srcset="">
            <img src="" alt="picture">
          </picture>
       
        

          <picture class="covers-picture" style="--position: 5">
            <source srcset="">
            <img src="." alt="picture">
          </picture>
       

      </li>

      <li class="covers-item"  style="--position: 1">
   
          <picture class="covers-picture auto-run">
            <source srcset="">
            <img src="" alt="picture">
          </picture>
      

    
          <picture class="covers-picture" style="--position: 2">
            <source srcset="">
            <img src="" alt="picture">
          </picture>
       

    
          <picture class="covers-picture" style="--position: 3">
            <source srcset="">
            <img src="" alt="picture">
          </picture>
       

     
          <picture class="covers-picture" style="--position: 4">
            <source srcset="">
            <img src="" alt="picture">
          </picture>
    


          <picture class="covers-picture" style="--position: 5">
            <source srcset="">
            <img src="" alt="picture">
          </picture>
       
        
      </li>

      <li class="covers-item"  style="--position: 1">
        
          <picture class="covers-picture">
            <source srcset="">
            <img src="" alt="picture">
          </picture>
     

        
          <picture class="covers-picture"  style="--position: 2">
            <source srcset="">
            <img src="" alt="picture">
          </picture>
       


          <picture class="covers-picture" style="--position: 3">
            <source srcset="">
            <img src="" alt="picture">
          </picture>
        

     
          <picture class="covers-picture" style="--position: 4">
            <source srcset="">
            <img src="" alt="picture">
          </picture>
    

        
          <picture class="covers-picture" style="--position: 5">
            <source srcset="">
            <img src="" alt="picture">
          </picture>
       
        
      </li>

      <li class="covers-item">


          <picture class="covers-picture" style="--position: 1">
            <source srcset="">
            <img src="" alt="picture">
          </picture>
 

      
          <picture class="covers-picture" style="--position: 2">
            <source srcset="">
            <img src="" alt="picture">
          </picture>
       

     
          <picture class="covers-picture" style="--position: 3">
            <source srcset="">
            <img src="" alt="picture">
          </picture>
    


          <picture class="covers-picture" style="--position: 4">
            <source srcset="">
            <img src="" alt="picture">
          </picture>
        

     
          <picture class="covers-picture" style="--position: 5">
            <source srcset="">
            <img src="" alt="picture">
          </picture>
     
        
      </li>

    </ul>
    <!-- <ul class="test-list">
      <li class="test-item">
 <picture class="covers-picture test-pic">
          <source srcset="../img/portfolio-collage/rectangle12.webp 1x, ../img/portfolio-collage/rectangle12@2x.webp 2x">
          <img src="../img/portfolio-collage/jpeg/rectangle12.jpg" alt="picture">
        </picture> 


    
        <picture class="covers-picture test-pic" style="--position: 2;">
          <source srcset="../img/portfolio-collage/rectangle6.webp 1x, ../img/portfolio-collage/rectangle6@2x.webp 2x">
          <img src="../img/portfolio-collage/jpeg/rectangle12.jpg" alt="picture">
        </picture>
     

   
        <picture class="covers-picture test-pic" style="--position: 3;">
          <source srcset="../img/portfolio-collage/rectangle5.webp 1x, ../img/portfolio-collage/rectangle5@2x.webp 2x">
          <img src="../img/portfolio-collage/jpeg/rectangle5.jpg" alt="picture">
        </picture>
  


        <picture class="covers-picture test-pic" style="--position: 4;">
          <source srcset="../img/portfolio-collage/first-screen1.webp 1x, ../img/portfolio-collage/first-screen1@2x.webp 2x">
          <img src="../img/portfolio-collage/jpeg/first-screen1.jpg" alt="picture">
        </picture>
      

   
        <picture class="covers-picture test-pic" style="--position: 5;">
          <source srcset="../img/portfolio-collage/rectangle9.webp 1x, ../img/portfolio-collage/rectangle9@2x.webp 2x">
          <img src="../img/portfolio-collage/jpeg/rectangle9.jpg" alt="picture">
        </picture>
   
      
    </li>

 
    </ul> -->
  </div>
</section>